
$white:					    #fff;
$orange:				    #F4511E;
$blur-orange: 			#F18360;
$gray:              #9B9B9B;
$gray-button:       #BFBFBF;
$gray-border:       #EFEFEF;
$gray-border-form:  #979797;
$gray-icon:         #B6B6B6;
$gray-background:   #E5E5E5;
$gray-data:         #444444;
$gray-hover:        #A2A0A0;
$yellow-favorite:   #F6B500;
$bold-data:         #222222;
$blue-aqua:         #00BCD4;
$blue-twitter:      #55ACEE;
$blue-hover:        #0B99AB;


$table-title:       $gray;

